.content {
  margin: 15px 0;
  padding: 40px;
  border-color: silver;
}

h2  {
  color: rgb(245, 110, 130);
}

.head p {
  font-weight: bold;
}

.head {
  text-align: center;
}

.error {
  color: red;
  margin-left: 10px;
  font-weight: bold;
  font-size: 12px;
}

.mail {
  margin-top: 40px;
}

.btn-warning {
  margin-top: 18px;
}

.bottom {
  border: 0.5px solid silver;
  margin: 15px 0;
}