header {
  margin: 15px 0;
  color: rgb(245, 110, 130);
}

header h1 {
  margin-top: 8px;
}

header a {
  font-size: 0.8em;
}

hr {
  border-width: 3px;
  border-color: rgb(245, 110, 130);
}

h1 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 8px;
}

.align-right {
  text-align: right;
}

@media only screen and (max-width: 992px) {
  .radio-inline {
    display: block;
    margin: 0 !important;
  }
}